@use '../utils' as *;

// eef1f7   ffffff

.service {
  .container--md {
    position: relative;
    padding-bottom: rem(292);

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-image: linear-gradient(
        to top,
        hsl(220, 36%, 95%),
        hsl(0, 0%, 100%)
      );
    }

    &::before {
      clip-path: polygon(100% 0, 0 0, 100% 100%);
      right: -25%;
      top: -20%;
      width: rem(1170);
      height: rem(1170);
      z-index: -1;
    }

    &::after {
      clip-path: polygon(100% 0, 0 0, 0 100%);
      top: -35%;
      left: -25%;
      width: rem(1170);
      height: rem(1170);
      z-index: -1;
    }
  }

  &__content {
    text-align: center;

    @include breakpoint(large) {
      margin-right: 0;
      text-align: right;
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include breakpoint(medium) {
      margin: rem(10);
      gap: rem(20);
    }

    @include breakpoint(large) {
      margin: 0;
      gap: rem(30);
    }
  }
  &__item {
    text-align: center;
    padding: rem(47);
    box-shadow: 0 0 rem(40) hsl(0, 0%, 84%);
    margin: rem(30);
    width: 100%;
    border-radius: rem(15);
    @include breakpoint(medium) {
      margin: 0;
      width: calc((100% - (30 * 0.0625rem)) / 2);
    }

    @include breakpoint(large) {
      margin: 0;
      width: calc((100% - (30 * 2 * 0.0625rem)) / 3);

      &:nth-child(2),
      &:nth-child(5) {
        transform: translateY(rem(87));
      }

      &:nth-child(3),
      &:nth-child(6) {
        transform: translateY(rem(87 * 2));
      }
    }

    p {
      padding-bottom: rem(48);
      font-family: var(--font--poppins);
      font-weight: 400;
    }
  }
  &__icon {
    margin-top: rem(25);
    margin-bottom: rem(48);
    margin-left: auto;
    margin-right: auto;
    width: rem(84);
    height: rem(84);
    img {
      width: 100%;
    }
  }
  &__arrow {
    width: rem(42);
    padding-bottom: rem(25);
  }
}
